/*Navbar*/
.navbar{
    color: var(--primary-color);
    height: 20vh;  
    margin-top: 3vh;
}

.navbar-brand{
    height: 20vh;
    width: auto;
}

.navbar-menu{
    display: flex;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar a{
    color: var(--primary-color);
    padding: 1vw;
    margin: 0 0.5vw;
    font-size: 20px;
}

.navbar .navbar-menu a:hover{
    border-bottom: 2px #765E82 solid;
}

/*Header*/

.header {
    color: var(--primary-color);
    margin-bottom: 50px;
}

.header .grid{
    align-items: start;
}

.header-text{
    padding-left: 40px;
}

.header-img{
    padding-right: 40px;
}

.header h1{
    font-size: 68px;
}

.header h2{
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.header p{
    max-width: 450px;
}

.header img{
    object-fit: cover;
    height: 250px;
    margin-top: 20px;
}

/* Our Mission section*/

.mission{
    color: #fff;
    background-color: var(--primary-color);
    align-items: center;
    text-align: center;
    height: max-content;
}

.ytb-mission{
    height: 50vh;
    width: 60vw;
}

.mission p{
    width: 500px;
    margin: auto;
    padding-bottom: 10vh;
}

/*Founder Presentation*/

.founder{
    color: var(--secondary-color);
    height: 70vh;
    background-image: url(../images/about/green_bg.svg);
    background-size: cover;

}

.founder .founder-txt{
    margin-left: 10vw;
}

.founder h3{
    margin-top: -20px;
    margin-bottom: 20px;
}

.founder p{
    width: 400px;
}

.founder img{
    height: 50vh;
    width: auto;
    display: block;
    margin: auto;
}


/*Beliefs Section*/

.beliefs{
    height: 600px;
    color: var(--secondary-color);
    background-color: #fff;
    text-align: center;
}

.beliefs .title{
    padding: 45px 0px;
    grid-column: 1/ span 3;
}

.beliefs .svg-section{    
    padding: 0px 30px;
    padding-bottom: 50px;
}

.beliefs .svg-section h3{
    padding: 15px 0px;
}

/* Footer */
.footer{
    background-color: #f0f0f0;
}

.footer .grid3{
    align-items: start;
}

.brand img{
    width: 175px;
    height:auto;
    margin-left: 5vw;
}

.brand .icon-section{
    display: flex;
    max-width: 200px;
    justify-content: space-evenly;
}

.footer ul{
    line-height: 2;
}


.brand h2{
    width:400px;
    font-size: 40px;
}

.brand h3{
    font-size: 30px;
}

.contact h4{
    padding-bottom: 1rem;
}

@media (max-width: 920px) {

    .header .grid,
    .founder .grid,
    .footer .grid3{
        grid-template-columns: 1fr;
    }

    body{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /*Navbar*/
    .navbar a{
        padding: 7px;
        font-size: 2.5vw;
    }

    /*Header*/
    .header-text {
        padding: 1px 0px;
        margin: auto;
    }

    .header-img img{
        display: none;
    }

    /*founder*/
    .founder{
        height: max-content;
    }

    .founder .founder-txt{
        margin: auto;
        padding-bottom: 15px;
    }

    /* Footer */
    .footer .grid3{
        grid-template-columns: 1fr;
    }

    .footer .contact,
    .footer .sitemap{
        margin: 10px 0px;
    }

    .footer .contact{
        padding-bottom: 30px;
    }

    .footer .brand{
        margin: 10px 0px;
        padding-top: 30px;
    }

    .brand h2, 
    .brand .icon-section {
        width: auto;
        max-width: 100vw;
        justify-content: center;
    }

    .brand i{
        padding: 0px 20px;
    }
}

@media (max-width: 500px) {

    h2{
        font-size: 12vw;
    }

    p,
    img {
        max-width: 90vw;
    }

    /*navbar*/

    .navbar{
    }

    .navbar img{
        margin: 10px 0px;
        height: 100px;
    }

    .navbar .flex{
        flex-direction: column;
    }

    .navbar-menu{
        padding: 0px;
    }

    .navbar a{
        padding: 1vw;
        font-size: 3.2vw;
    }

    /*header*/

    .header{
        height: auto;
    }

    .header h1{
        padding-top: 10px;
        font-size: 13vw;
    }

    .header h2{
        padding-top: 10px;

        font-size: 8vw;
    }

    .header p{
        font-size: 4vw;
    }

    /*Our Mission section*/
    .ytb-mission{
        height: auto;
        width: auto;
    }

    /* Beliefs section*/

    .beliefs{
        height: max-content;
    }

    .beliefs .grid3{
        display: flex;
        flex-direction: column;
    }

    .beliefs h2{
        margin: auto;
    }


    /*footer*/

    .footer h2{
        padding: 0;
    }
}