

/*Navbar*/

.navbar{
    height: 20vh;  
    margin-top: 3vh;
}

.navbar-brand{
    height: 20vh;
    width: auto;
}

.navbar-menu{
    display: flex;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar a{
    color: var(--primary-color);
    padding: 2px 1vw;
    margin: 0 0.5vw;
    font-size: 20px;
}

.navbar .navbar-menu a:hover{
    border-bottom: 2px var(--primary-color) solid;
}

/*Header*/

.header {
    color: var(--primary-color);
    margin-bottom: 50px;
}

.header .grid{
    align-items: start;
}

.header-text{
    padding-top: 35px;
}

.header-img{
    height: auto;
    padding-right: 40px;
}

.header h1{
    font-size: 68px;
}

.header h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.header img{
    height: 250px;
    margin-top: 20px;
}

/*Triumph School Presentation*/

.school-pres{
    color: #fff;
    background-color: var(--primary-color);
    height: max-content;
    text-align: center;
    padding: 50px 0px;
}

.school-pres .grid{
    align-items: start;
}

.school-text h2{
    padding: 35px 0px;
}

.school-text .btn{
    background-color: #48A9A6;
    margin: 20px 0px;
}

.school-pres li{
    list-style-type: disc;
    list-style-position: inside;
}

.school-pres .school-text{
    width: 450px;
}

.school-pres .goals{
    width: 400px;
    margin: auto;
    line-height: 1.8;
}

.bus-pres{
    color: var(--primary-color);
    background-color: #fff;
    height: max-content;
    text-align: center;
    padding: 50px 0px;
}

.bus-pres .grid{
    align-items: start;
}

.bus-text h2{
    padding: 35px 0px;
}

.bus-text .btn{
    background-color: #5848a9;
    margin: 20px 0px;
}

.bus-pres li{
    list-style-type: disc;
    list-style-position: inside;
}

.bus-pres .bus-text{
    width: 450px;
}

.bus-pres .goals{
    width: 400px;
    margin: auto;
    line-height: 1.8;
}

/*Footer*/
.footer{
    background-color: #f0f0f0;
}

.footer .grid3{
    align-items: start;
}

.brand img{
    width: 175px;
    height:auto;
    margin-left: 5vw;
}

.brand .icon-section{
    display: flex;
    max-width: 200px;
    justify-content: space-evenly;
}

.footer ul{
    line-height: 2;
}


.brand h2{
    width:400px;
    font-size: 40px;
}

.brand h3{
    font-size: 30px;
}

.contact h4{
    padding-bottom: 1rem;
}

/*Tablet*/
@media (max-width: 920px) {

    .header .grid,
    .bus-pres .grid,
    .school-pres .grid,
    .footer .grid3{
        grid-template-columns: 1fr;
    }

    body{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /*Navbar*/
    .navbar a{
        padding: 7px;
        font-size: 2.5vw;
    }

    /*Header*/
    .header-text {
        padding: 1px 0px;
        margin: auto;
    }

    .header-img img{
        display: none;
    }

    /*school presentation*/
    .school-pres{
        padding-top: 0px;
    }

    .school-pres .school-text{
        width: 70vw;
        margin: auto;
        margin-bottom: 50px;
    }

    /*bus presentation*/
    .bus-pres{
        padding-top: 0px;
    }

    .bus-pres .bus-text{
        width: 70vw;
        margin: auto;
        margin-bottom: 50px;
    }

    /* Footer */
    .footer .grid3{
        grid-template-columns: 1fr;
    }

    .footer .contact,
    .footer .sitemap{
        margin: 10px 0px;
    }

    .footer .contact{
        padding-bottom: 30px;
    }

    .footer .brand{
        margin: 10px 0px;
        padding-top: 30px;
    }

    .brand h2, 
    .brand .icon-section {
        width: auto;
        max-width: 100vw;
        justify-content: center;
    }

    .brand i{
        padding: 0px 20px;
    }
}

@media (max-width: 500px) {

    h2{
        font-size: 12vw;
    }

    p,
    img,
    li {
        max-width: 90vw;
    }

    /*navbar*/

    .navbar{
    }

    .navbar img{
        margin: 10px 0px;
        height: 100px;
    }

    .navbar .flex{
        flex-direction: column;
    }

    .navbar-menu{
        padding: 0px;
    }

    .navbar a{
        padding: 1vw;
        font-size: 3.2vw;
    }

    /*header*/

    .header{
        height: auto;
    }

    .header h1{
        padding-top: 20px;
        font-size: 13vw;
    }

    .header h2{
        padding-top: 10px;

        font-size: 8vw;
    }

    /*footer*/

    .footer h2{
        padding: 0;
    }
}