

/*Navbar*/

.navbar{
    height: 20vh;  
    margin-top: 3vh;
}

.navbar-brand{
    height: 20vh;
    width: auto;
}

.navbar-menu{
    display: flex;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar a{
    color: var(--primary-color);
    padding: 2px 1vw;
    margin: 0 0.5vw;
    font-size: 20px;
}

.navbar .navbar-menu a:hover{
    border-bottom: 2px var(--primary-color) solid;
}

/*Header*/

.header {
    color: var(--primary-color);
    margin-bottom: 50px;
}

.header .grid{
    align-items: start;
}

.header-text{
    padding-top: 35px;
}

.header-img{
    height: auto;
    padding-right: 40px;
}

.header h1{
    font-size: 68px;
}

.header h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.header img{
    height: 250px;
    margin-top: 20px;
}

/*Triumph School Presentation*/

.school-pres{
    color: #fff;
    background-color: var(--primary-color);
    height: max-content;
    text-align: center;
    padding: 50px 0px;
}

.school-pres .grid{
    align-items: start;
}

.school-text h2{
    padding: 35px 0px;
}

.school-text .btn{
    background-color: #48A9A6;
    margin: 20px 0px;
}

.school-pres li{
    list-style-type: disc;
    list-style-position: inside;
}

.school-pres .school-text{
    width: 450px;
}

.school-pres .goals{
    width: 400px;
    margin: auto;
    line-height: 1.8;
}

.bus-pres{
    color: var(--primary-color);
    background-color: #fff;
    height: max-content;
    text-align: center;
    padding: 50px 0px;
}

.bus-pres .grid{
    align-items: start;
}

.bus-text h2{
    padding: 35px 0px;
}

.bus-text .btn{
    background-color: #5848a9;
    margin: 20px 0px;
}

.bus-pres li{
    list-style-type: disc;
    list-style-position: inside;
}

.bus-pres .bus-text{
    width: 450px;
}

.bus-pres .goals{
    width: 400px;
    margin: auto;
    line-height: 1.8;
}

/*Footer*/
.footer{
    background-color: #f0f0f0;
}

.footer .grid3{
    align-items: start;
}

.brand img{
    width: 175px;
    height:auto;
    margin-left: 5vw;
}

.brand .icon-section{
    display: flex;
    max-width: 200px;
    justify-content: space-evenly;
}

.footer ul{
    line-height: 2;
}


.brand h2{
    width:400px;
    font-size: 40px;
}

.brand h3{
    font-size: 30px;
}

.contact h4{
    padding-bottom: 1rem;
}