/* General website styling*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;1,700&display=swap');

:root{
    --primary-color: #765E82;
    --secondary-color: #1b4140;
}

*{
    box-sizing: border-box; /*allow to add margin and padding without changing width*/
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

h1, h2{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
}

h2{
    font-size: 48px
}

h3{
    font-family: 'Playfair Display', 'Inter', sans-serif;
    font-weight: 400;
    font-size: 34px;
}

h4{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

img{
    width: 100%;
}


/* Utilities*/
.container{
    max-width: 1100px;
    margin: 0 auto;/* sets container in the middle */
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: end;
    height: 100%;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 99em;
}

.btn:hover{
    transform: scale(0.98);
}

/* Margin */

.my-1 {
    margin: 1rem 0px;
}

.my-2{
    margin: 1.5rem 0px;
}

.my-3{
    margin: 2rem 0px;
}

.my-4{
    margin: 3rem 0px; 
}

.my-5{
    margin: 4rem 0px;
}

/*Padding*/

.py-1 {
    padding: 1rem 0px;
}

.py-2 {
    padding: 1.5rem 0px;
}

.py-3 {
    padding: 2rem 0px;
}

.py-4 {
    padding: 3rem 0px;
}

.py-5 {
    padding: 4rem 0px;
}

.px-1 {
    padding: 0px 1rem;
}

.px-2 {
    padding: 0px 1.5rem;
}

.px-3 {
    padding: 0px 2rem;
}

.px-4 {
    padding: 0px 3rem;
}

.px-5 {
    padding: 0px 4rem;
}